/* Default CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
  --primary-color: #211A1E;
  --secondary-color: #C3423F;
  --section-color: #7C8483;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  position: relative;
  background: #211A1E;
}

main {
  margin: 25vh;
}

footer {
  background-color: var(--secondary-color);
  width: 100%
}


.nav-background {
  background-color: #C3423F;
  color: #fff;
}

.about-card {
  background-color: var(--section-color);
  opacity: .3;
  justify-content: center;
}

.link {
  color: #fff;
}













.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
